
@import url(../css/waves.css);
@import url(../css/marchers.css);

html {
	scroll-behavior: smooth;
}

body {
	padding: 5% 0 0 0;
	background-image: url("../img/handmadepaper.png");
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Amatic SC', cursive;
}

p, span {
	font-family: 'Oswald', sans-serif;
}

.main {
	background-image: url("../img/handmadepaper.png");
	-webkit-box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.5);
	border: 1px solid grey;
	padding: 1%;
}

.rumpus {
	font-size: 8vw;
}

.crown-row {
	justify-content: center;
	align-items: center;
}

.crown-row h1 {
	font-size: 10vw;
	white-space: nowrap;
}

.crown-row > div {
	padding: 0 0;
}

.wild-one {
	display: inherit;
	justify-content: center;
}

.crown {
	object-fit: contain;
	height: 15vw;
}

.modal-header {
	flex-direction: column;
}

.container.rsvp-form {
    border: 1px solid black;
    padding: 5%;
    max-width: 75%;
}

.form-group {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	width: 50%;
}

.admin-container .row > div {
	padding-top: 1%;
	border: 1px solid black;
	font-size: calc(10px + (26 - 10) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}
